.DS_Store
._*
*.pyc
__pycache__/
.mypy_cache/
.pytest_cache/
.github/
.pdm-build/
.pdm-python
.eggs/
.git/
.vscode/
!.git/HEAD
!.git/refs/heads/*

venv/
.venv/
.venv-old/
.docker_venv/
.docker-venv/
node_modules/
abx-dl/
abxpkg/
abx-plugins/
abxbus/
chrome/
chromeprofile/
chrome_profile/
users/
archive/
crawls/
snapshots/
logs/
archivebox-docker-smoke*/
archivebox-compose-smoke*/
core
*.core

pdm.dev.lock
pdm.lock

docs/
build/
dist/
brew_dist/
deb_dist/
pip_dist/
assets/
docker/
website/
typings/

tmp/
data/
data*/
-
personas/
sources/
output/
index.sqlite3
index.sqlite3-wal
