.DS_Store
._*
*.pyc
__pycache__/
.mypy_cache/
.pytest_cache/
.github/
.git/
.pdm-build/
.pdm-python
.eggs/

venv/
.venv/
.venv-old/
.docker-venv/
node_modules/

docs/
build/
dist/
brew_dist/
deb_dist/
pip_dist/
assets/
docker/

data/
output/
