.DS_Store
._*
*.pyc
__pycache__/
.mypy_cache/
.eggs/
tests/out/

# Python and Node dependencies
venv/
.venv/
.docker-venv/
node_modules/

# Ignore dev lockfiles (should always be built fresh)
pdm.lock
pdm.dev.lock
requirements-dev.txt

# Packaging artifacts
.pdm-python
.pdm-build
archivebox.egg-info
archivebox-*.tar.gz
build/
dist/

# Data folders
data/
data*/
output/
index.sqlite3
*.sqlite*
data.*

# vim
*.sw?
.vscode
