# OS cruft
.DS_Store
._*

# python
__pycache__/
.mypy_cache/
venv
.venv
archivebox/.venv
archivebox/venv
archivebox/docs/_build

# vim
.swp*

# output artifacts
output
output/
data
data/
archivebox/output
archivebox/data

archivebox.egg-info/
build/
dist/
