.DS_Store
._*
*.pyc
__pycache__/
.mypy_cache/

# Python and Node dependencies
venv/
.venv/
.docker-venv/
node_modules/

# Packaging artifacts
archivebox-*.tar.gz
build/
deb_dist/
dist/

# Data folders
data/
data1/
data2/
data3/
output/
