[submodule "docs"]
    path = docs
    url = https://github.com/ArchiveBox/ArchiveBox.wiki.git
[submodule "archivebox/vendor/pocket"]
	path = archivebox/vendor/pocket
	url = https://github.com/tapanpandita/pocket
