[submodule "docs"]
    path = docs
    url = https://github.com/ArchiveBox/ArchiveBox.wiki.git

[submodule "deb_dist"]
    path = deb_dist
    url = https://github.com/ArchiveBox/debian-archivebox.git
[submodule "brew_dist"]
	path = brew_dist
	url = https://github.com/ArchiveBox/homebrew-archivebox.git
