# This docker-compose config for ArchiveBox runs the following containers:
#     - ArchiveBox (it creates the initial archive, then sleeps forever to allow commands to be run with exec to add links)
#     - nginx webserver running on https://127.0.0.1:8098
# Usage:
#     docker-compose up -d
#     echo "https://example.com" | docker-compose run archivebox archivebox add
#     docker-compose run archivebox archivebox https://example.com/some/feed.rss
# Documentation:
#     https://github.com/pirate/ArchiveBox/wiki/Docker#docker-compose

version: '3.7'

services:
    archivebox:
        build: .
        image: archivebox:latest
        command: server 0.0.0.0:8000
        stdin_open: true
        tty: true
        ports:
            - 8000:8000
        environment:
            - USE_COLOR=True
            - SHOW_PROGRESS=False
            # - HTTP_PROXY=http://pywb:8080
        volumes:
            - ./data:/data

    # pywb:
    #     image: webrecorder/pywb:latest
    #     entrypoint: /bin/sh 'wb-manager add default /archivebox/archive/*/warc/*.warc.gz; wayback --proxy;'
    #     environment:
    #         - INIT_COLLECTION=archivebox
    #     ports:
    #         - 8080:8080
    #     volumes:
    #         ./data:/archivebox
    #         ./data/wayback:/webarchive

#    nginx:
#        image: nginx:alpine
#        ports:
#            - 443:443
#            - 80:80
#        volumes:
#            - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf
#            - ./data:/var/www
