include archivebox/VERSION
graft archivebox/themes
graft archivebox/themes/static
graft archivebox/themes/admin
graft archivebox/themes/default
graft archivebox/themes/default/static
graft archivebox/themes/legacy
graft archivebox/themes/legacy/static
