{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{% endblock %}
{% block bodyclass %}{{ block.super }} login{% endblock %}
<a href="{% url 'Home' %}">{% block branding %}<h1>ArchiveBox</h1>{% endblock %}</a>
{% block usertools %}{% endblock %}
{% block nav-global %}{% endblock %}
{% block content_title %}<center>Set a new password.</center><br/>{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
{% if token_fail %}
<p class="errornote">{% trans "This password reset link is invalid or has expired. Please request a new one." %}</p>
<center><a href="{% url 'account_reset_password' %}">{% trans "Request new link" %}</a></center>
{% else %}
<form method="POST">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-row">{{ field.errors }}{{ field.label_tag }}{{ field }}</div>
  {% endfor %}
  <div class="submit-row" style="border: none;">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Set new password' %}">
  </div>
</form>
{% endif %}
</div>
{% endblock %}
