{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{% endblock %}
{% block bodyclass %}{{ block.super }} login{% endblock %}
<a href="{% url 'Home' %}">{% block branding %}<h1>ArchiveBox</h1>{% endblock %}</a>
{% block usertools %}{% endblock %}
{% block nav-global %}{% endblock %}
{% block content_title %}<center>Reset your password.</center><br/>{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
<form method="POST" action="{% url 'account_reset_password' %}">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-row">{{ field.errors }}{{ field.label_tag }}{{ field }}</div>
  {% endfor %}
  <div class="submit-row" style="border: none;">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Send reset link' %}">
  </div>
</form>
<hr/>
<center><a href="{% url 'account_login' %}">{% trans "Back to login" %}</a></center>
</div>
{% endblock %}
