<tr>
    <td title="$timestamp">$bookmarked_date</td>
    <td style="text-align:left">
        <a href="$link_dir/$index_url"><img src="$favicon_url" class="link-favicon" decoding="async"></a>
        <a href="$link_dir/$archive_url" title="$title">
            <span data-title-for="$url" data-archived="$is_archived">$title</span>
            <small>$tags</small>
        </a>
    </td>
    <td>
        <a href="$link_dir/$index_url">📄 
            <span data-number-for="$url" title="Fetching any missing files...">$num_outputs <img src="static/spinner.gif" class="files-spinner" decoding="async"/></span>
        </a>
    </td>
    <td style="text-align:left"><a href="$url">$url</a></td>
</tr>
