{% extends "base.html" %}
{% load static %}

{% block body %}
    <div id="toolbar">
        <form id="changelist-search" action="{% url 'public-index' %}" method="get">
            <div>
                <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
                <input type="text" size="40" name="q" value="" id="searchbar" autofocus placeholder="Title, URL, tags, timestamp, or content...".>
                <input type="submit" value="Search" style="height: 36px; padding-top: 6px; margin: 8px"/>
                <input type="button"
                       value="♺"
                       title="Refresh..."
                       onclick="location.href='{% url 'public-index' %}'"
                       style="background-color: rgba(121, 174, 200, 0.8); height: 30px; font-size: 0.8em; margin-top: 12px; padding-top: 6px; float:right">
                </input>
            </div>
        </form>
    </div>
    <table id="table-bookmarks">
        <thead>
            <tr>
                <th style="width: 100px;">Bookmarked</th>
                <th style="width: 26vw;">Snapshot ({{object_list|length}})</th>
                <th style="width: 140px">Files</th>
                <th style="width: 16vw;whitespace:nowrap;overflow-x:hidden;">Original URL</th>
            </tr>
        </thead>
            <tbody>
                {% for link in object_list %}
                    {% include 'index_row.html' with link=link  %}
                {% endfor %}
            </tbody>
        </table>
        <center>
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'public-index' %}?page=1">&laquo; first</a>
                    <a href="{% url 'public-index' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="{% url 'public-index' %}?page={{ page_obj.next_page_number }}">next </a>
                    <a href="{% url 'public-index' %}?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
    
            {% if page_obj.has_next %}
                <a href="{% url 'public-index' %}?page={{ page_obj.next_page_number }}">next </a>
                <a href="{% url 'public-index' %}?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        <br>
    </center>
{% endblock %}
